:root{
  --color-blue: #39b1c6;
  --color-dblue:#277986;
  --color-lblue:#f0f9ee;
}


body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-dblue);
  }

  form {
    margin: 0 auto;
    text-align: center;
  }

  h1, h2 {
    color: white;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
  }
  .disabled {
    display: none;
  }
  .cell {
    height:50px;
    width: 50px;
    border: 3px solid var(--color-lblue);
    margin:3px;
    background-color: var(--color-dblue);
    border-radius: 10px;
    color : #f0f9ee;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content : center;
    align-items : center;
    text-align: center;
  
  }

  

 .cell:hover {
  background-color: var(--color-lblue);
  cursor: pointer;
 }

 .boum {
  background-image: url('image/bombe.png');
  background-repeat: no-repeat;
  background-size: cover;
 }
