* {
    
    box-sizing: border-box;
  }

  form {
    margin: 0 auto;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 2px;
    margin: 0 auto;
    background-color: grey;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border: 1px solid blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
  }

  .mined {
    background-color: red;
  }

  .invisible {
    visibility: hidden;
  }
